<ng-include src=" 'views/_header.html' "></ng-include>

<div class="jumbotron">
  <h1>Guided Integration!</h1>
  <p class="lead">
    <img src="images/pok.png" alt="I'm Pok"><br>
    Choose according to your experience: 
  </p>
  <p>
  	<a class="btn btn-lg btn-pok-black btn-pok-select" ng-href="#guided/easy">Easy</a>
  </p>
    <p>
  	<a class="btn btn-lg btn-pok-turquoise btn-pok-select" ng-href="#guided/medium">Medium</a>
  </p>
    <p>
  	<a class="btn btn-lg btn-pok-gray btn-pok-select" ng-href="#guided/deep">Deep</a>
  </p>
</div>

<ng-include src=" 'views/_footer.html' "></ng-include>
