<ng-include src=" 'views/_header.html' "></ng-include>

<div class="jumbotron">
  <h1>Welcome!</h1>
  <p class="lead">
    <img src="images/pok.png" alt="I'm Pok"><br>
    Always a pleasure to help and guide you!
  </p>
  <p><a class="btn btn-lg btn-pok-turquoise" ng-href="#guided">Start a guided session!</a></p>
</div>

<div class="row marketing">

  <h4 ng-href="#free">Free stuff</h4>
  <p>
    More ressources to get start with the inner contemplation.
  </p>
</div>

<ng-include src=" 'views/_footer.html' "></ng-include>